.App {
  margin-top: 200px;
  text-align: center;
}

body {
  color: #2a6d5f;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

a {
  color: #2a6d5f;
  text-decoration: none;
}

a:hover {
  color: #f6f64d;
}

html {
  background-color: #00bfa6;
}

input {
  border: transparent;
  background: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #2a6d5f;
  text-align: center;
}

input:focus {
  outline: none;
  border: none;
}

button {
  border: transparent;
  background: transparent;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #2a6d5f;
  color: #00bfa6;
  margin-top: 10px;
}

select {
  background-color: transparent;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #2a6d5f;
  margin-right: 5px;
}

select:hover {
  background-color: #f6f64d;
}

.dropdown-container select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* for IE10 */
.dropdown-container select::-ms-expand {
  display: none;
}

button:hover {
  background-color: #f6f64d;
}

.output {
  display: inline-block;
  margin-top: 200px;
}

.errors {
  color: #f6f64d;
}

ul {
  padding: 0px;
  list-style-type: none;
}